extend _template

block pageTitle
  - var pageTitle = 'Settings'
block prepend body
  body
    include svg/_icon-template
    include svg/_icon-back
    include svg/_icon-faq
    include parts/_topbar

    section#page-launch.page-container.settings-page
      +topbar('Back', 'Settings', 'Question', 'icon-back', '%text%', 'icon-faq')

      main.settings-page__content.content
        ul.settings-list


          mixin setting-item(title, name, title1, title2, id1, id2)
            li.setting-item
              span.setting-item__title= title

              .radio-items
                label.radio-item(for=id1)
                  input.radio-item__radiobox(id=id1 type="radio", name=name, checked)
                  span.radio-item__title= title1
                  div.radio-item__handler

                label.radio-item(for=id2)
                  input.radio-item__radiobox(id=id2 type="radio", name=name)
                  span.radio-item__title= title2
                  div.radio-item__handler

          +setting-item('Distance', 'distance', 'Standart US', 'Metric', 'radio-1-1', 'radio-1-2')
          +setting-item('Map Refresh', 'refresh', '5 min', '1 min', 'radio-2-1', 'radio-2-2')
          +setting-item('Map Type', 'map-type', 'Map', 'Satellite', 'radio-3-1', 'radio-3-2')
          +setting-item('Public Backpacks', 'backpacks', 'Show', 'Hide', 'radio-4-1', 'radio-4-2')